{% extends "admin/core/base.html" %}

{% block title %}OA Switchboard{% endblock %}
{% block title-section %}OA Switchboard{% endblock %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Articles</h2>
            </div>
            <div class="content">
                <form method="POST" action="{% url 'oas_send' %}">
                    {% csrf_token %}
                    <table class="small article_list" id="articles">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Published</th>
                            <th>Identifier</th>
                            <th></th>
                            {% if request.user.is_staff %}
                            <th></th>
                            {% endif %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td><a href="{% url 'manage_archive_article' article.pk %}">{{ article.title|safe }}</a>
                                </td>
                                <td>{{ article.date_published }}</td>
                                <td>{{ article.identifier }}</td>
                                {% if request.user.is_staff %}
                                <td>
                                    <a class="small button" href="{% url 'admin:oas_switchboardmessage_changelist' %}?article__id__exact={{ article.pk }}" target="_blank">Admin logs</a>
                                </td>
                                {% endif %}
                                <td>
                                    <button name="article_id" value="{{ article.pk }}" class="small success button">
                                    <i class="fa fa-paper-plane" aria-hidden="true">&nbsp;</i> Send to OA Switchboard
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#articles" %}
{% endblock %}